name: Release

on:
  workflow_dispatch:

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Semantic Release requires the full history
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      - name: Run Semantic Release & Package Extension
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx --package semantic-release@25 --package @semantic-release/exec --package @semantic-release/git semantic-release

      - name: Publish to VS Code Marketplace
        if: success()
        run: npx vsce publish -p ${{ secrets.VSCE_PAT }}
      # - name: Publish to Open VSX Registry
      #   if: success()
      #   run: npx ovsx publish -p ${{ secrets.OVSX_PAT }}